{% extends 'base.html' %}

{% block title %}Home - Elden Ring Dungeon Tracker{% endblock %}

{% block header %}Elden Ring Dungeon Tracker{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Dungeons</h2>
    <p>Discover and track all the dungeons and items in Elden Ring.</p>
    <ul>
        {% for zone in zones %}
        <li><a href="{{ url_for('zone_detail', zone_id=zone.id) }}">{{ zone.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
