{% extends 'base.html' %}

{% block title %}Home - Elden Ring Dungeon Tracker{% endblock %}

{% block header %}Elden Ring Dungeon Tracker{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Zones</h2>
<p>Elden Ring Zones, including new zones from Shadow of the Erdtree!</p>
    <ul>
        {% for zone in zones %}
        <li><a href="{{ url_for('main.zone_detail', zone_id=zone.id) }}">{{ zone.name }}</a></li>w
        {% endfor %}
    </ul>
</div>
{% endblock %}
