{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="w-50">
        <h1 class="text-center">Manage Zones</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="name">{{ form.name.label }}</label>
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="description">{{ form.description.label }}</label>
                {{ form.description(class="form-control") }}
            </div>
            <div class="text-center">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <ul class="mt-4">
        {% for zone in zones %}
            <li>{{ zone.name }}: {{ zone.description }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
